## Aula de Python
## Prof. Rodrigo Sucupira
## sucupira.rodrigo@gmail.com
#### https://youtu.be/ix-97k8ePWA

In [2]:
print('Aula da biblioteca math')

Aula da biblioteca math

In [4]:
import math
import pandas as pd

In [7]:
# LISTA   []
nova_lista = [1, 2, 3, 4]

In [8]:
nova_lista

[1, 2, 3, 4]

In [10]:
for i in nova_lista:
  print(i)
  print(' - novo elemento -')

1
 - novo elemento -
2
 - novo elemento -
3
 - novo elemento -
4
 - novo elemento -

In [14]:
math.sin(nova_lista[0])

0.8414709848078965

In [13]:
nova_lista[0]

1

In [16]:
# TUPLA  ()
nova_tupla = (1, 2, 3, 4)

In [17]:
nova_tupla

(1, 2, 3, 4)

In [19]:
nova_tupla[0] = 2

TypeError: ignored

In [21]:
nova_lista[0] = 2

In [22]:
nova_lista

[2, 2, 3, 4]

In [24]:
math.fsum(nova_lista)

11.0

In [25]:
math.fsum(nova_tupla)

10.0

In [26]:
nova_lista_02 = [1 , 2 , 'a' , 5]

In [27]:
nova_lista_02

[1, 2, 'a', 5]

In [28]:
math.fsum(nova_lista_02)

TypeError: ignored

In [29]:
math.sqrt(4)

2.0

In [30]:
math.sqrt(nova_tupla)

TypeError: ignored

In [31]:
math.sqrt(nova_lista)

TypeError: ignored

In [32]:
# DICIONARIO   {}
novo_dict = {}

# KEY  
# VALORES
novo_dict['cor'] = ['azul' , 'vermelho', 'amarelo']
novo_dict['numero'] = [1 , 2, 3]

In [33]:
novo_dict

{'cor': ['azul', 'vermelho', 'amarelo'], 'numero': [1, 2, 3]}

In [36]:
# CRIAR DATATABLE  pd.DataFrame
nova_df = pd.DataFrame(novo_dict)

In [37]:
nova_df

        cor  numero
0      azul       1
1  vermelho       2
2   amarelo       3

In [38]:
#math.sum()
nova_df.numero

0    1
1    2
2    3
Name: numero, dtype: int64

In [40]:
math.fsum(nova_df.numero)

6.0

In [41]:
math.sin(nova_df.numero)

TypeError: ignored

In [43]:
nova_df.sum()

cor       azulvermelhoamarelo
numero                      6
dtype: object

In [54]:
nova_df.sum(axis = 0)  # SE AXIS = 0  --  orientação é na vertical

cor       azulvermelhoamarelo
numero                      6
dtype: object

In [55]:
nova_df.sum(axis = 1)  # SE AXIS = 1  --  orientação é na horizontal

0    1
1    2
2    3
dtype: int64

In [44]:
# DICIONARIO   {}
novo_dict_02 = {}

# KEY  
# VALORES
novo_dict_02['N'] = [40 , 50, 100]
novo_dict_02['numero'] = [1 , 2, 3]
# CRIAR DATATABLE  pd.DataFrame
nova_df_02 = pd.DataFrame(novo_dict_02)

In [45]:
nova_df_02

     N  numero
0   40       1
1   50       2
2  100       3

In [46]:
nova_df_02.sum()

N         190
numero      6
dtype: int64

In [56]:
nova_df_02.sum(axis = 1)  # SE AXIS = 1  --  orientação é na horizontal

0     41
1     52
2    103
dtype: int64

In [53]:
# DA PRA CRIAR UMA DATAFRAME A PARTIR DE UMA LISTA
lista = [1 , 2 , 5,6]
#lista
df_novo = pd.DataFrame(lista)
df_novo.columns = ['lista']
#df_novo

df_novo['lista 2'] = [4 , 3 , 1,1]
df_novo

   lista  lista 2
0      1        4
1      2        3
2      5        1
3      6        1

In [58]:
math.floor(1.999999)

1

In [59]:
math.ceil(1.999999)

2

In [60]:
math.ceil(1.00000001)

2

In [61]:
math.ceil(1.00000001) , math.ceil(1.00000000)

(2, 1)

In [62]:
[math.ceil(1.00000001) , math.ceil(1.00000000)]

[2, 1]

In [65]:
#math.isnan()
# DA PRA CRIAR UMA DATAFRAME A PARTIR DE UMA LISTA
lista = [1 , 2 , 5,6]
#lista
df_novo = pd.DataFrame(lista)
df_novo.columns = ['lista']
#df_novo

df_novo['lista 2'] = [4 , 3 , 0,0]
df_novo['lista 3'] = df_novo['lista']/df_novo['lista 2']
df_novo

   lista  lista 2   lista 3
0      1        4  0.250000
1      2        3  0.666667
2      5        0       inf
3      6        0       inf

In [67]:
df_novo['lista 3'][2]

inf

In [68]:
math.isnan(1)

False

In [69]:
math.isnan(df_novo['lista 3'][2])

False

In [70]:
import numpy as np

In [71]:
np.nan

nan

In [72]:
math.isnan(np.nan)

True

In [75]:
#math.isinf(df_novo['lista 3'][2])
#math.isfinite(df_novo['lista 3'][2])
print(df_novo['lista 3'][2] ,math.isinf(df_novo['lista 3'][2]) )

inf True

In [76]:
math.pi

3.141592653589793

In [77]:
math.pow(2,3)

8.0

In [81]:
#math.trunc(2.6)
math.fabs(-2)

2.0

In [82]:
math.log(10)

2.302585092994046